@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

#content{
    background: url('meryenda3.webp');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*HEADER*/
.page-header{
    background-color: rgba(33, 33, 33, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-top: 30px;
    padding-bottom: 15px;
}

.text-header{
    color: goldenrod;
    font-size: 54px;
    font-family: Pacifico, sans-serif;
    cursor: pointer;
    transition: 0.15s;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu-header{
    margin: 0;
    display: flex;
    column-gap: 50px;
}

.menu-header >button {
    padding: 10px;
    border-radius: 5px 20px;
    font-family: Pacifico, sans-serif;
    font-size: 21px;
    color: goldenrod;
    transition: 0.15s;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.menu-header > button:hover {
    background-color:goldenrod;
    color:rgba(29, 29, 28, 0.8);
}

.menu-header > button:focus{
    background-color:goldenrod;
    color:rgba(29, 29, 28, 0.8);
}

/* FOOTER */
.page-footer{
    background-color:rgba(29, 29, 28, 0.8);
    color: goldenrod;
    padding: 10px;
}

/*BODY*/
.page-body{
    color:rgb(243, 208, 119);
    background-color:rgba(29, 29, 28, 0.8);
    margin: 2% 15%;
    height: 100%;
    padding: 5% 5%;
    border-radius: 20px;

    align-self: center;
    row-gap: 30px;
    column-gap: 30px;
}

.mami-pic{
    border-radius: 15px;
    filter: sepia(60%);
}

.body-text{
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
}

/*BODY - MENU*/
.menu-item{
    border: solid 1px rgba(240,248,255,0.7);
    display: flex;
    padding: 5px;
    border-radius: 10px;
    column-gap: 10px;
    cursor: pointer;
}

.menu-item:hover{
    background-color: rgba(240,248,255,0.4);
}

.meryenda{
    width: 150px;
    height: 125px;
}

.meryenda-text{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    color: aliceblue;
}
.meryenda-text-header{
    font-size: 21px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.meryenda-text-body{
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    font-style: italic;
    letter-spacing: 0.25px;
}
.meryenda-text-price{
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
}

/*CONTACT - MENU*/
.contact-header{
    font-size: 30px;
    font-family: Pacifico, Arial, sans-serif;
    color: goldenrod;
}
.contact-person{
    border-radius: 10px;
    padding: 15px 20px;
    border: solid 1px aliceblue;
    font-size: 21px;
    letter-spacing: 0.5px;
}